*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
body{
    background-color: rgba(0,0,0,0.7);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: rgba(0,0,0,0.5);
    padding:100px 140px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    display: flex;


}
.stopwatch{
    background-color: rgba(0,0,0,0.9);
    padding:50px,70px;
    border-radius: 8px;

}
.timerDisplay{
    font-size: 1.8rem;
    font-weight: 700;

}